<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=start"></script>
    <!--meta name="google-signin-client_id" content="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"-->

    <script>
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '45231638270-spds4iihrqe5meb4rfbu901f4sg6rhbm.apps.googleusercontent.com',
                // Scopes to request in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
            console.log('gapi.load(auth2...) ');
        });
    </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">
        <div class="col-1">
        </div>
        <div class="col-7">
        <form action="login" method="post">

            <div>&nbsp;</div>
            <div class="row">
                <div class="col-3">
                    <div class="row p-1 font-weight-bolder themed-grid-col">Username:</div>
                </div>
                <div class="col-8">
                    <input type="text" name="user_name" value="{{ data.user_name }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="row p-1 font-weight-bolder themed-grid-col">Password:</div>
                </div>
                <div class="col-8">
                    <input type="password" name="user_password" value="{{ data.user_password }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-8">
                     <button class="btn btn-primary" role="button" type="submit">Login</button>
                    &nbsp;&nbsp;
                    &nbsp;<button class="btn g-signin2" id="signinButton">Google</button>
                </div>
            </div>
            {#            <input type="hidden" name="item_id" value="{{ result.item.id }}"/>#}
        </form>
        </div>
    </div>

</div>
{% include 'footer.html' %}

<!--NEW GOOGLE SIGN IN CODE -->
<script>
    function signInCallback(json) {
        console.log('inside callback fuction');
        console.log(json);
        // authResult = JSON.parse(json);
        authResult = json;
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            $('#result').html('One-Time Auth Code:</br>' + authResult['code'] + '')
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: '/oauth/google',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                  console.log('success function'+result);
                if (result) {
                  $('#result').html('Login Successful!</br>'+ result + '')
                } else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            });
        }
    }
</script>


<a href='#' onclick="signOut();">Sign Out from Google <a/>
<script>
    var auth2;

    gapi.load('auth2', function() {
        console.log('gapi.load auth2 ');
        auth2 = gapi.auth2.init();
    });

    function onSignIn() {
        console.log('onSignIn()');
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('User logged in.');
        console.log('ID:', profile.getId());
        console.log('Name:', profile.getName());
        console.log('Image URL:', profile.getImageUrl());
        console.log('Email:', profile.getEmail());
    }

    function signOut() {
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
    }
    </script>


<!--END GOOGLE SIGN IN CODE -->

</body>
</html>