<!DOCTYPE html>
<html>
<head>
    <title>{{ result.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'top.html' %}

<div>&nbsp;</div>

<div class="container">

    <div class="row table-light">
        <div class="col-3">
            <div class="row p-1 font-weight-bolder themed-grid-col">Categories</div>
            {% for category in result.categories %}
                {% if result.category == category.name %}
                    <div class="row p-1 font-weight-bolder themed-grid-col">
                {% else %}
                    <div class="row p-1 font-weight-normal themed-grid-col">
                {% endif %}
                        <a href="/{{ category.name }}">{{ category.name }}</a>
                    </div>
            {% endfor %}
        </div>

        <div class="col-8">
            <!-- result.show_item = {{ result.show_item }} -->
            {% if result.show_item == 1 %}
                <div class="row p-1 font-weight-normal themed-grid-col">{{ result.item.name }}</div>
                {% if (result.edit_item == 1) %}
                    <form action="/save" method="post">
                        <div class="row">
                            <input type="hidden" name="item_id" value="{{ result.item.id }}" />
                        </div>
                        <div class="row">
                            <textarea name="item_text" rows="10" cols="60">{{ result.item.description }}</textarea>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" role="button" type="submit">Save</button>
                        </div>
                    </form>
                {% else %}
                    <div class="row p-1 font-weight-normal themed-grid-col">{{ result.item.description }}</div>
                    <div class="row p-1">
                        <a class="btn btn-primary" href="/edit/{{ result.item.id }}" role="button">Edit</a>
                    </div>
                {% endif %}
            {% else %}
                <div class="row p-1 font-weight-bolder themed-grid-col">
                   {% if result.category == '' %}
                        Latest Items
                   {% else %}
                        {{ result.category }} ({{ result.items_count }} Items)
                   {% endif %}
                </div>
                {% for item in result.items %}
                    <div class="row p-1 font-weight-normal themed-grid-col">
                        <a href="/item/{{ item.id }}">{{ item.name }}</a>
                        {% if result.category == '' %}
                            &nbsp;-&nbsp;<i>{{ result.categories[item['categoryid'] - 1]['name'] }}</i>
                        {% endif %}
                  </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

</div>
{% include 'footer.html' %}
</body>
</html>