<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">
        <div class="col-3">
            <div class="row p-1 font-weight-bolder themed-grid-col">Categories</div>
            {% for category in data.categories %}
                {% if data.category == category.name %}
                    <div class="row p-1 font-weight-bolder themed-grid-col">
                {% else %}
                    <div class="row p-1 font-weight-normal themed-grid-col">
                {% endif %}
                        <a href="/category/{{ category.name }}">{{ category.name }}</a>
                    </div>
            {% endfor %}
        </div>

        <div class="col-8">
            <!-- data.show_item = {{ data.show_item }} -->
            {% if data.show_item == 1 %}
{#                <div class="row p-1 font-weight-normal themed-grid-col">{{ data.item.name }}</div>#}
                {% if (data.edit_item == 1) %}
                    <form action="/save" method="post">
                        <div class="row">
                            <input type="text" name="item_name" value="{{ data.item.name }}" />
                        </div>
                        <div class="row">
                            <textarea name="item_text" rows="10" cols="60">{{ data.item.description }}</textarea>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" role="button" type="submit">Save</button>
                        </div>
                        <input type="hidden" name="item_id" value="{{ data.item.id }}" />
                    </form>
                {% else %}
                    <div class="row p-1 font-weight-normal themed-grid-col">{{ data.item.name }}</div>
                    <div class="row p-1 font-weight-normal themed-grid-col">{{ data.item.description }}</div>
                    <div class="row p-1">
                        {%  if data.logged_in %}
                            <a class="btn btn-primary" href="/edit/{{ data.item.id }}" role="button">Edit</a>
                            <a class="btn btn-danger" href="/delete/{{ data.item.id }}" role="button">Delete</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                <div class="row p-1 font-weight-bolder themed-grid-col">
                   {% if data.category == '' %}
                        Latest Items
                   {% else %}
                        {{ data.category }} ({{ data.items_count }} Items)
                   {% endif %}
                </div>
                {% for item in data.items %}
                    <div class="row p-1 font-weight-normal themed-grid-col">
                        <a href="/item/{{ item.id }}">{{ item.name }}</a>
                        {% if data.category == '' %}
                            &nbsp;-&nbsp;<i>{{ data.categories[item['categoryid'] - 1]['name'] }}</i>
                        {% else %}
                             - {{  item['fmtdate'] }}
                        {% endif %}
                  </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

</div>
{% include 'footer.html' %}
</body>
</html>